.jumbotron {
  padding-top: 6rem;
}

section {
  padding-top: 4rem;
}
section:nth-child(even) {
  background: lightgreen;
}
.text-justify {
  text-align: justify;
}

.img-overlay {
  object-fit: cover;
  height: 250px;
  background-position: center;
}